<html>
<head>
	<title>
		BIN-PY
	</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<style>
	section.sec3{
		margin-top:-100px;
		background-color: #3da435;
	}
	.animation{
		margin-top:5px;
	}
</style>
<body style="background-color:#191919;">
	<div class="navbar">
		<div class="container">
			<div class="logo">
				<a href="#"><img src="/static/logo.jpg" class="logo"></a>

			</div>

			<div class="navbar-links">
				<ul class="menu">
					<li><a href="#"> Bin-Py </a></li>
					<li style=" margin-left:500px;"><a href="#"> Home </a></li>
					<li><a href="#about"> About Us </a></li>
					<li><a href="/SIGN-IN"> Sign-in </a></li>
					<li><a href="/SIGN-UP"> Sign-Up </a></li>
				</ul>
			</div>
		</div>
	</div>
	<marquee class="marquee" direction="left" scrollamount="3" onmouseover="this.stop();" onmouseout="this.start()">Use it up, wear it out, make it do, or do without.   There is no such thing as ‘away’. When we throw anything away it must go somewhere          Reduce!      Reuse!     Recyle!      Refuse!     </marquee>

	<div class="animation">
		<center>
			<video width="800" height="500" loop="" muted="" autoplay="">
  				<source src="/static/anime.mp4" type="video/mp4" >
			</video>
		</center>
	</div>
	<span id="about">
		<section class="sec2">
			<h2> Bin-Py: Waste Segregation  </h2>
			<p>
				Bin-py is an initiative to reduce the health risks of Municipal Solid Waste Workers.Bin-Py is a smart bin installed at every commercial area like bus stops, railway stations, malls etc. This bin reduces the work of workers by segregating the wastes accordingly.Cameras installed in the bins help to capture the pictures. These pictures are further processed by an image processing technology and are classified into different groups such as organic wastes, in-organic wastes,e-wastes. This way wastes are segregated. Further, IR sensors are used to keep track of the level of garbage in the bins.Once the bins are full,an alert is sent to the Municipal vehicles or workers to collect the garbage.</p><br>
				<p>		Every bin will be tracked through a GPS module installed in it. Municipal workers can track these bins through an API developed using Python language and its libraries. A micro web framework, Flask is used to build this particular API. The data generated through this are stored in the database SQLite3.  </p><br>
				<p>		In this manner we can tackle the problem of waste management and help workers reduce their work by eliminating the direct contact with hazardous wastes. Waste segregation work is made easier through these bins. This keeps the workers safe and also leads to a clean environment.
			</p>
		</section>
	</span>
	<br><br><br>
</body>


</html>
