<html>
<body>
<head>
	<title>
		BIN-PY
	</title>
	<link rel="stylesheet" href="style.css">
</head>
<style>
	section.sec3{
		margin-top:-100px;
		background-color:#3da435;
	}
	.animation{
		margin-top:5px;
	}
</style>
<body style="background-color:#191919;">
	<div class="navbar">
		<div class="container">
			<div class="logo">
				<a href="#"><img src="logo.jpg" class="logo"></a>

			</div>

			<div class="navbar-links">
				<ul class="menu">
					<li><a href="index.html"> Bin-Py </a></li>
					<li style=" margin-left:900px;"><a href="index.html"> Home </a></li>
				</ul>
			</div>
		</div>
	</div><br>
	<br><br><br>
	<span id="login">
		<section class="sec3" style="margin-bottom=600px">
			<center>
				<div class="login">
					<form action =" {{ url_for ('LOGIN1') }} "  method="POST">
						<h2 style="margin-top:-15px; color:white"> SIGN-IN</h2> <br>

						<label for="ID" style="font-size:20px; text-align: center;"> USER-ID </label> <br> <br>
						<input type="text" name="userid" placeholder="Enter the User ID" required > <br> <br> <br>

						<label for="Password"> PASSWORD </label> <br> <br>
						<input type="password"style="color:black" name="password" placeholder="Enter Password" required >
						<br>
						<br> <br>
						<input type="submit" value="Submit"></input>
						<br>
                    	<a href="signup.html" style="color:white"> Don't Have An Account Yet? </a>
					</form>
			</div>
		</center>
	</section>
</span>
</div>
</body>
</html>