<html>
<head>
	<title>
		BIN-PY
	</title>
	<link rel="stylesheet" href="{{ url_for( 'static',filename='stylesheet.css') }}">
</head>
<body style="background-color: #f3f9f9">
	<div class="navbar">
		<div class="container">
			<div class="logo">
				<a href="#"><img src="/static/logo.jpg" class="logo"></a>

			</div>

			<div class="navbar-links">
				<ul class="menu">
					<li><a href="#"> Bin-Py </a></li>
					<li style=" margin-left:900px;"><li><a href="/UPLOAD"> BACK </a></li>
				</ul>
			</div>
		</div>
	</div>
	<marquee class="marquee" direction="left" scrollamount="3" onmouseover="this.stop();" onmouseout="this.start()">Use it up, wear it out, make it do, or do without.   There is no such thing as ‘away’. When we throw anything away it must go somewhere          Reduce!      Reuse!	Recycle!	Refuse! </marquee>
	<center>
		<br><br>
		<h2> The waste was successfully segregated into Plastic Bin </h2>
		<h2 style="color:black"> <center>{{ msg }}</center> </h2>
	<img class="bin" src="/static/5.jpg">
</center>
</body>
</html>
