<html>
<head>
	<title>
		BIN-PY
	</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<style>
	section.sec3{
		margin-top:-100px;
		background-color: #3da435;
	}
	.animation{
		margin-top:5px;
	}
</style>
<body style="background-color:#191919;">
	<div class="navbar">
		<div class="container">
			<div class="logo">
				<a href="#"><img src="/static/logo.jpg" class="logo"></a>

			</div>

			<div class="navbar-links">
				<ul class="menu">
					<li><a href="/"> Bin-Py </a></li>
					<li style=" margin-left:900px;"><a href="/"> Home </a></li>
					<li><a href="/"> About Us </a></li>
				</ul>
			</div>
		</div>
	</div>
    <br><br><br><br>
<span id="login">
<section class="sec3">
			<center>
				<div class="login">
					<form action =" {{ url_for ('LOGIN') }} "  method="POST">
						<h2 style="color:black"> SIGN-UP</h2>
					<label for="ID"> ID </label>
				<input type="text" style="color:black" name="ID" placeholder="Enter UserID" required >

				<label for="Name"> NAME </label>
				<input type="text"style="color:black" name="Name" placeholder="Enter Name" required >

				<label for="Password"> PASSWORD </label>
				<input type="password"style="color:black" name="Password" placeholder="Enter Password" required >

				<label for="Phone"> MOBILE NO. </label>
				<input type="text"style="color:black" name="Phone" placeholder="Enter Mobile No." maxlength="10" max="10" size="10" required > <br>
				<input type="submit" value="submit"></input>
				<br>
				<a href="/SIGN-IN" style="color:black"> Have An Account Already? </a>
                    </form>

				</div>
			</center>
		</section>
	</span>




</body>
</html>
