
	*{
		margin:0;
		padding:0;
	}
	.navbar{
		width:100%;
		overflow:hidden;
		height:70px;
		line-height: 70px;
		background:#fff;
		position:sticky;
		top:0;
	}
	.container {
		width:90%;
		margin: 0 auto;
	}
	.logo {
		width:50px;
		float:left;
	}
	.menu {

	}
	.menu li{
		float:left;
		width:120px;
		height:70px;
		line-height: 70px;
		text-align: center;
		list-style: none;
	}
	.menu li a{
		color:#000;
		text-decoration: none;
		text-transform: uppercase;
		display:block;
	}
	.menu li:hover{
		background-color:#3da435;
	}
	.menu a:hover{
		color:white;
	}
	.marquee{
		background-color:#3da435;
		color:white;
		height:30px;
		line-height:30px;
	}
	section{
		width:100%;
		height:80vh;
	}

	section.sec2{
		padding:100px;
		box-sizing:border-box;
		height:auto;
		background-color:white;
	}
	section.sec2 h2{
		font-size: 3em;
		padding:0 0 15px;
	}
	section.sec2 p{
		font-size: 1em;
		font-family: sans-serif;
		font-weight: 20%;
	}

	.login{
	height:400px;
	width:250px;
	margin-top:40px;
	margin-left: 100px;
	color:black;
	text-align:center;
	padding:50px 20px;
}
.login label{
	font-family: sans-serif;
	font-size: 18px;
	text-align:center;
}
.login input{
	width:100%;
	margin-bottom:20px;
}
.login input[type="text"],input[type="email"], input[type="password"]{
	border:none;
	border-bottom:1px solid black;
	background:transparent;
	outline:none;
	height:40px;
}
::-webkit-input-placeholder{
	color:white;
	}
.login input[type="submit"]{
	width:100%;
	margin-bottom:20px;
	height:35px;
	background:#2f3133;
	color:white;
	font-size:18px;
	border-radius:20px;
	cursor:pointer;
	outline:none;
	border:none;
}
section.sec4{
	background-color:#191919;
	margin-top:-40px;
	height:550px;
}